.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  margin: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 1;
}

/* логотип повторяется */
.logo {
  margin: 0;
  height: 32px;
  width: 228px;
}

/* логотип в шапке */
.logo_place_header {
  position: absolute;
  margin: 0;
  top: 30px;
  left: 64px;
  z-index: 1;
}

/* название шапки */
.header__title {
  margin: 0;
  width: 730px;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;

}

/* подназвание шапки */
.header__subtitle {
  position: absolute;
  margin: 0;
  left: 64px;
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* Опять два */
.header__main-illustration {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  object-fit: cover;
  z-index: -1;
}

/* синий квадратик в шапке */
.header__square-pic {
  position: absolute;
  margin: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  z-index: -2;
}

.header__link{
  color: #2f80ed;
  text-decoration: none;
}

.description {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 0;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;

}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
}

.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-last-of-type(1) {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.section-title {
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  position: relative;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 1100px;
  padding: 0;
}

.table__cell {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 60px;
  width: 250px;
  list-style: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  width: 250px;
  margin-bottom: 0;
  margin-top: 0;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  width: 250px;
  font-weight: normal;
  justify-content: flex-start;
}

.feynman {
  margin: 0;
  margin-top: 100px;
  display: block;
  position: relative;
  background-image: url(../images/feynman.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 890px;
}

.feynman__title {
  text-align: center;
  margin: 100px auto 70px;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  z-index: 3;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  text-align: right;
  right: 48px;
  z-index: 5;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.section-title_theme_dark {
  position: relative;
  color: white;
  margin-top: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  color: #fff;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  justify-content: right;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  margin: 0;
}

.logo_place_footer {
  object-fit: cover;
  margin: 0;
}

.footer__columns {
  display: flex;
  position: relative;
  width: 90%;
  justify-content: space-between;
  margin: 60px auto 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  margin: 0;
}

.footer__author {
  display: flex;
  margin: 18px 0;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #fff;
}

.footer__column_content_info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
}

.footer__column_content_social {
  display: flex;
  justify-content: flex-start;
  right: 0;
  flex-direction: column;
  margin: 0;
}


.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 16px;
}

.footer__column-link {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
}
